.flexbox {
    display: flex;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
    max-width: 700px;
    margin: auto;
}

.item {
    display: block;
    box-sizing: border-box;
    width: 250px;
}

.item2 {
    display: inline;
    box-sizing: content-box;
    width: 125px;
    height: auto;
    
}

.input,select {
    width: 90px;
    padding: 2px;
}

.content {
    background-color: rgb(179, 177, 173);
    border: 5xp solid black;
    padding: 15px;
}

.btn {
    background-color: rgba(0, 0, 0, .95);
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.btn:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}